source/Optimization.Solver.GLPKSolver/OptimizationConfigSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="com.optimizationzen.optimization.framework" elementFormDefault="qualified" targetNamespace="com.optimizationzen.optimization.framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="optimization" type="tns:Optimization.Configuration.OptimizationConfigSectionCT" />
	<xs:complexType name="Optimization.Configuration.OptimizationConfigSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="model" type="tns:Optimization.Configuration.ModelElementCT">
				<xs:annotation>
					<xs:documentation>Defines settings for all models you will create within this application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="solvers" type="tns:Optimization.Configuration.SolversCollectionCT">
				<xs:annotation>
					<xs:documentation>The solvers collection allows you to specify settings for solvers you want to use within this application.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Optimization.Configuration.ModelElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="behavior" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>'auto' will turn on automatic variable handling, i.e. when you add constraints and objectives the variables in them will be added automatically (default), 'manual' will turn this feature off and you need to add variables manually to the model</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Optimization.Configuration.SolversCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="solver" type="tns:Optimization.Configuration.SolverElementCT">
				<xs:annotation>
					<xs:documentation>Specifies settings for a particular solver.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Optimization.Configuration.SolverElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of a specific solver ("Cplex" is the default)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Specifies the path to the native dll of this solver.  You can also use relative paths, like "..\..\cplex.dll"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
